# Drizzle
DATABASE_URL=local.db

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="VK0}q]qf.Q3@NkE7YHohLD6J}r+JJZ]j"
# GitHub OAuth
# https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID="Ov23li5XcQmDzGKeF2Sm"
GITHUB_CLIENT_SECRET="bf60ef667d9e445fa1386d391ebfd34b9ddda1d1"
